<h2> Formatting Demo Page </h2>

<p> This simple page demonstrates the formatting tags covered in this lesson. </p>

<h3><b><strong>Bold and Strong</h3></b></strong>

<b> This is bold text</b>
<p>The strong tag has the same visual effect as the bold tag but the strong tag also marks the enclosed text as more important.</p>
<strong>This is what strong text looks like.</strong>

<h3>Italic and Emphasis</h3>
<i>This text is in italics.</i>
<p>The emphasis tag has the same visual effect as the italic tag but the emphasis tag also marks the enclosed text as more important.</p>

<em>This is what emphasized text looks like.</em>

<h3>Subscript and Superscript</h3>

<p>Subscript text looks like this: <sub>This is subscript</sub></p>
<p>Superscript text looks like this: <sup>This is superscript</sup></p>

<h3>Inserted and Deleted</h3>
<p>Inserted text looks like this: <ins>This is inserted</ins></p>
<p>Deleted text looks like this: <del>This is deleted</del></p>

<h3>Marked text looks like this:</h3> <mark>This is marked</mark>

<h3>Blockquote</h3>
<p>Blockquoted text looks like this:</p>
    <blockquote>This is the blockquote</blockquote>
    
<h3>Code</h3>

<p>Computercode text looks like this: <code>This is code</code></p>